body {
  padding-top: 50px;
  .navbar-default {
    .navbar-brand {
      padding: 13.5px 15px 12.5px;
      > img {
        display: inline;
        margin: 0 10px;
        height: 100%;
      }
      color: #111;
    }
    border-color: #aaa;
    .navbar-nav {
      li {
        a {
          color: #222;
        }
      }
    }
  }
}

.footer {
  background-color: #f8f8f8;
  color: #222;
  margin: 0;
  width: auto;
  padding: 0 20px;
  footer {
    margin: 1em 0;
  }
}

.main {
  padding: 1em 0 2em;
  border-bottom: 1px solid #aaa;

  .fa {
    margin-right: 0.5em;
  }

  .publinks {
    display: table;
  }

  figure {
    padding: 1em;
    margin-bottom: 1em;
    figcaption {
      font-style: italic;
    }
    img.pull-left {
      margin-right: 1em;
    }
  }
  .peep {
    margin: 1em 0 1em 0;
    @media (min-width: 992px) {
        margin-left: 12.499999995%;
    }
    ul {
      list-style: none;
      padding-left: 0;
    }
    .peep-stuff {
      font-size: 90%;
      span {
        font-style: italic;
      }
      .progress {
        margin: 0.1em;
      }
    }
  }
  #contact_map {
    height: 260px;
    @media (min-width: 768px) {
      height: 610px;
    }
    @media (min-width: 992px) {
      height: 550px;
    }
    width: 100%;
  }

  :target {
    padding-top: 60px;
    margin-top: -60px;
  }

  img.post-picture {
    display: block;
    max-width: 100%;
    height: auto;
    padding: 0 0 1em 0;
    @media (min-width: 992px) {
      padding: 0 0 1em 1em;
      max-width: 40%;
    }
  }
}
