Body {
  padding-top: 50px;
  .navbar-brand {
    padding: 13.5px 15px 12.5px;
    > img {
      display: inline;
      margin: 0 10px;
      height: 100%;
    }
  }
}

footer {
  margin: 1em 0;
}

.splash {
  padding: 2em 0 2em;
  background-image: url(../img/bg.jpeg);
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  text-align: center;

  h1 {
    font-size: 4em;
  }

  #social {
    margin: 1em 0;
    min-height: 4em;
  }

  @media (max-width: 767px) {
    padding: 1em 0 1em;

    h1 {
      font-size: 2em;
    }
  }
}

.main {
  padding: 1em 0 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  .fa {
    margin-right: 0.5em;
  }

  .publinks {
    display: table;
  }

  figure {
    padding: 1em;
    margin-bottom: 1em;
    figcaption {
      font-style: italic;
    }
    img.pull-left {
      margin-right: 1em;
    }
  }
}
