---
layout: default
splash: /assets/img/splash/embryos.jpg
---
<div class="clearfix">
{% if page.picture %}
<img class="post-picture float-right" src="{{ site.baseurl }}{{ page.picture }}" alt="post picture">
{% endif %}
<h3>{{ page.title }}</h3>
<h4>{{ page.date | date_to_string }}</h4>
{{ content }}
</div>
<nav aria-label="posts navigation">
 {% if page.previous.url %}
  <a class="btn btn-outline-primary float-left" href="{{ site.baseurl }}{{ page.previous.url }}"><span aria-hidden="true">&laquo;</span> {{ page.previous.title }}</a>
 {% endif %}
 {% if page.next.url %}
  <a class="btn btn-outline-primary float-right" href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.title }} <span aria-hidden="true">&raquo;</span></a>
 {% endif %}
</nav>
